.view {
	/*display: none;*/
}
.content {
	margin-bottom: 10px;
}
.subsection {
	margin-top: 50px;
	height: 250px;
	background-color: $light-gray;
	padding-top: 30px;
	border-bottom: solid 1px #FFFFFF;
}
.subsection .panel {
	border-radius: 5px;
	background-color: scale-lightness($light-gray, 10);
	padding: 5px;
	min-height: 200px;
	color:  $gray;
}