.splash {

	position: relative;
	overflow: hidden;
	min-height: 1000px;
	
	color: $white;
	/*border: dotted 1px green;*/
	
	a { color: $white; }

	.big-slogan {
		color: $white;
		/*margin-top: 60px;*/
		margin-bottom: 20px;
	}
	
	h4 { 
		color: $white; 
		/*margin-bottom: 50px;*/
	}	
	
	h5 {
		color: $white;
		font-weight: normal;
	}
	
	button.btn-primary {
		margin: 10px 0 10px 0;
	}
	
	.container {
		margin-top: 20px;
	}
	
	.well-small {
		background-color: rgba($dark-blue, 0.2);
		display: inline-block;
		padding-left: 20px;
		margin-top: 20px;
	}
	.btn-see-state {
		margin-top: 17px;
		margin-bottom: 10px;
		padding: 4px 14px;
		@include border-radius(14px);
	}
}

.splash-background {
	
	position: absolute;
	display: block;
	overflow: hidden;
	z-index: -1;
	
	margin-bottom: 0;
	bottom: 0;
	margin-right: 0;
	right: 0;
	
	width: 100%;  
	height: auto;

	/*border: dotted 1px red;*/
}

.splash-background-solid {
	position: absolute;
	background-color: $dark-blue;
	height: 1500px;
	width: 100%;
	z-index: -2;
}
