.splash {

	position: relative;
	overflow: hidden;
	min-height: 1000px;
	
	color: $white;
	/*border: dotted 1px green;*/
	
	a { color: $white; }

	.big-slogan {
		color: $white;
		/*margin-top: 60px;*/
		margin-bottom: 20px;
	}
	
	h4 { 
		color: $white; 
		margin-bottom: 50px;
	}	
}

.splash-background {
	
	position: absolute;
	display: block;
	overflow: hidden;
	z-index: -1;
	
	margin-bottom: 0;
	bottom: 0;
	margin-right: 0;
	right: 0;
	
	width: 100%;  
	height: auto;

	/*border: dotted 1px red;*/
}

.splash-background-solid {
	position: absolute;
	background-color: $dark-blue;
	height: 1500px;
	width: 100%;
	z-index: -2;
}

.splash-startup {
	height: 5000px;
	/*background-color: $sky-blue;*/
}
