.splash {

	min-height: 500px;
	
	.row {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.big-message h5 {
		max-width: 280px;
	}
}
.splash-background {
	width: auto;
	height: auto;
	margin-top: -50px;
	margin-bottom: auto;
	bottom: auto;
}