<div id="RegionView">
	<div class="row">
		<div class="span8">
			<ul class="breadcrumb">
				<li>
					<a href="#/state/overview"> State of Georgia</a><span class="divider">/</span>
				</li>
				<li class="active" data-bind="text: ShortName"></li>
			</ul>
			<h1><!--<i class="icon-star"></i>&nbsp;--><span data-bind="text: Name"></span></h1>
		</div>
	</div>
	<ul class="nav nav-pills" id="TabSet">
		<li  data-bind="css: Tabs.Overview.isSelected">
			<a href="#/" id="Overview" data-bind="attr: {href: '#/state/' + UrlKey + '/overview'}"><i class="icon-bar-chart"></i> Overview</a>
		</li>
		<li data-bind="css: Tabs.Counties.isSelected">
			<a href="#/" data-bind="attr: {href: '#/state/' + UrlKey + '/counties'}"><i class="icon-map-marker"></i> By County <span class="badge badge-info" data-bind="text: TotalCounties"></span></a>
		</li>
		<li data-bind="css: Tabs.Commodities.isSelected">
			<a href="#/" id="Commodities" data-bind="attr: {href: '#/state/' + UrlKey + '/commodities'}"><i class="icon-truck"></i> By Commodity <span class="badge badge-info" data-bind="text: TotalCommodities"></span></a>
		</li>
		<!-- li data-bind="css: Tabs.Companies.isSelected">
		<a href="#/" id="Companies" data-bind="attr: {href: '#/state/' + RegionUrlKey + '/' + UrlKey + '/companies'}"><i class="icon-building"></i> By Company <span class="badge badge-info" data-bind="text: TotalCompanies"></span></a>
		</li -->
	</ul>
	<div id="TabViewContainer"></div>
</div>