<div id="TwoColumnView" class="container main-panel">
	
	<div class="row visible-phone">
		<div class="span12">
			[TODO: GPA BANNER FOR PHONE]
		</div>
	</div>
	
	<!-- BIG SLOGAN -->
	<div class="row">
		<div class="span12 big-slogan">
			<a href="#/intro"><strong>MORE</strong> IM<span class="P">P</span><span class="A">A</span><span class="C">C</span>T</a>
		</div>
	</div>
	<!-- /BIG SLOGAN -->
	
	<div class="row">

		<!-- CONTENT PANE -->
		<div id="ViewContainer" class="span8 content pull-right view"></div>
		<!-- /CONTENT PANE -->

		<!-- SEARCH AND STATE CONTROLS -->
		<div id="ControlContainer" class="span4 pull-left"></div>
		<!-- /SEARCH AND STATE CONTROLS -->
		
	</div>
</div>
