.big-slogan {
	font-family: 'Open Sans', sans-serif;
	font-size: 50pt;
	font-weight: 500;
	letter-spacing: -3px;
	line-height: 50pt;
	margin-bottom: 50px;
	color:  $dark-blue;
	
	strong {
	 font-weight: 700;
  }
  .P {
	 letter-spacing: -8px;
  }
  .A {
	 letter-spacing: -3px;
  }
  .C {
	 letter-spacing: 1px;
  }
}