.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color:   $dark-blue;
}
#GPALogoBanner {
	width: 160px;
	top: -60px;
	margin-right: 30px;
}