h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: semi-bold;
	color:   $dark-blue;
}
h1 {
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: -1px;
}
table {
  h1, h2, h3, h4, h5, h6 {
	 margin-top: 0;
	 margin-bottom: 0;
  }
}