.ajax-spinner {
	background-image: url('../images/ajax-spinner.gif');
	background-position-x: center;
	background-position-y: 50px;
	background-repeat: no-repeat;
	background-color: white;
	height: 100%;
	position: absolute;
	@include opacity(70);
}