td.cell-numeric, th.cell-numeric {
	text-align: right;
}
td.cell-border-left, th.cell-border-left {
	border-left: solid 2px $tableBorder;
}
.table th {
	background-color:   $blue;
	color:   $white;
}
td.centered {
	text-align: center;
}
div.centered-wrapper {
	display: inline-block;
	text-align: left;
}
td.cell-commodity-name {
	width: 180px;
	overflow: hidden;
	text-transform: capitalize;
	display: block;
}
