<div id="SplashView" class="splash main-panel">
	<div class="splash-background-solid"></div>
	<img class="splash-background" src="images/3DX_5148-two-longshoremen.jpg" />
	<div class="container">

		<!-- BIG SLOGAN -->
		<div class="row">
			<div class="span12">
				<div class="big-slogan">
					<strong>MORE</strong> IM<span class="P">P</span><span class="A">A</span><span class="C">C</span>T
				</div>
			</div>
		</div>
		<!-- /BIG SLOGAN -->

		<!-- BIG MESSAGE -->
		<div class="row">
			<div class="span6">
				<h4>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</h4>
			</div>
		</div>
		<!-- /BIG MESSAGE -->

		<!-- SEARCH AND STATE CONTROLS -->
		<div class="row">
			<div id="SearchControlContainer" class="span4"></div>
		</div>
		<!-- /SEARCH AND STATE CONTROLS -->

	</div>
</div>
<!--
<div class="container">
<div class="row">
<div class="span12">
Infographics here.
</div>
</div>
</div>
-->