<div id="ColContainerView" class="container main-panel">
	<div class="row visible-phone">
		<div class="span12">
			[TODO: GPA BANNER FOR PHONE]
		</div>
	</div>
	<!-- BIG SLOGAN ******************************** -->
	<div class="row">
		<div class="span12 big-slogan">
			<a href="#/intro"><strong>MORE</strong> IM<span class="P">P</span><span class="A">A</span><span class="C">C</span>T</a>
		</div>
	</div>
	<div class="row">
		<!-- CONTENT PANE ******************************** -->
		<!-- <div class="span8 content pull-right view" data-bind="template: {name: templateToUse(), data: dataToUse()}"></div> -->
		<div id="viewContainer" class="span8 content pull-right view"></div>
		<!-- SEARCH AND STATE CONTROLS ******************************** -->
		<div class="span4 pull-left">
			<!-- SEARCH TOOLS HERE ******************************** -->
			<div data-bind='template: {name: "SearchControls", templateUrl:"views", data : $data}'></div>
			<div data-bind='template: {name: "StateMapControl", templateUrl:"views", data : $data}'></div>
		</div>
		<!-- // END: SEARCH AND STATE CONTROLS -->
	</div>
</div>
