<div class="row">
	<div class="span6">
		<h1><i class="icon-tag"></i> <span data-bind="text: Name"></span></h1>
	</div>
</div>
<ul class="nav nav-pills" id="TabSet">
	<li class="active">
		<a href="#/overview" data-toggle="tab" data-bind="click: $root.SelectTab"><i class="icon-bar-chart"></i> Overview</a>
	</li>
	<li>
		<a href="#/counties" data-toggle="tab" data-bind="click: $root.SelectTab"><i class="icon-map-marker"></i> By County <span class="badge badge-info" data-bind="text: TotalCounties"></span></a>
	</li>
	<li>
		<a href="#/companies" data-toggle="tab" data-bind="click: $root.SelectTab"><i class="icon-building"></i> By Company <span class="badge badge-info" data-bind="text: TotalCompanies"></span></a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="overview" data-bind="template: {name: 'Commodity-Overview', data: $data}"></div>
	<div class="tab-pane fade" id="counties" data-bind="template: {name: 'County-GridView', data: $root.counties}"></div>
	<div class="tab-pane fade" id="companies" data-bind="template: {name: 'Company-GridView', data: $root.companies}"></div>
</div>