<div id="CompanyGridView">
	CompanyGridView
	<table class="table table-bordered table-striped table-condensed" title="Company import and export">
		<thead>
			<tr>
				<th rowspan="2">Company</th>
				<th colspan="3" class="cell-border-left"><i class="icon-signin"></i> Import</th>
				<th colspan="3" class="cell-border-left"><i class="icon-signout"></i> Export</th>
			</tr>
			<tr>
				<th class="cell-border-left">TEU</th>
				<th>STONS</th>
				<th>Est.&nbsp;Value</th>
				<th class="cell-border-left">TEU</th>
				<th>STONS</th>
				<th>Est.&nbsp;Value</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: $data">
			<tr>
				<td data-bind="text: Name"></td>
				<td data-bind="text: $.number(ImportTEUs)" class="cell-numeric cell-border-left"></td>
				<td data-bind="text: $.number(ImportSTONS)" class="cell-numeric"></td>
				<td data-bind="text: ('$' + $.number(ImportEstValue))" class="cell-numeric"></td>
				<td data-bind="text: $.number(ExportTEUs)" class="cell-numeric cell-border-left"></td>
				<td data-bind="text: $.number(ExportSTONS)" class="cell-numeric"></td>
				<td data-bind="text: ('$' + $.number(ExportEstValue))" class="cell-numeric"></td>
			</tr>
		</tbody>
	</table>
</div>