<div id="StateOverview">
	StateOverview
	<div class="row">
		<div class="span3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2"><i class="icon-signin"></i> Total Import</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TEUs</td><td class="cell-numeric"><h4 data-bind="text: $.number(ImportTEUs)"></h4></td>
					</tr>
					<tr>
						<td>Short Tons</td><td class="cell-numeric"><h4 data-bind="text: $.number(ImportSTONS)"></h4></td>
					</tr>
					<tr>
						<td>Est. Value</td><td class="cell-numeric"><h4 data-bind="text: ('$' + $.number(ImportEstValue))"></h4></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2"><i class="icon-signout"></i> Total Export</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TEUs</td><td class="cell-numeric"><h4 data-bind="text: $.number(ExportTEUs)"></h4></td>
					</tr>
					<tr>
						<td>Short Tons</td><td class="cell-numeric"><h4 data-bind="text: $.number(ExportSTONS)"></h4></td>
					</tr>
					<tr>
						<td>Est. Value</td><td class="cell-numeric"><h4 data-bind="text: ('$' + $.number(ExportEstValue))"></h4></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2"><i class="icon-exchange"></i> Total Import + Export</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TEUs</td><td class="cell-numeric"><h4 data-bind="text: $.number(TotalTEUs)"></h4></td>
					</tr>
					<tr>
						<td>Short Tons</td><td class="cell-numeric"><h4 data-bind="text: $.number(TotalSTONS)"></h4></td>
					</tr>
					<tr>
						<td>Est. Value</td><td class="cell-numeric"><h4 data-bind="text: ('$' + $.number(TotalEstValue))"></h4></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span3">
			<div class="well alert-info" style="text-align: center">
				<h1><i class="icon-group"></i></h1><h5>Economic Impact on Employment</h5><h3 data-bind="text: $.number(TotalEmployment)"></h3>
			</div>
		</div>
	</div>
</div>