<div id="StateMapControl">
	<a href="#/state/region12"><img src="images/map-georgia-regions.png" alt="Georgia" usemap="#/statemap" border="0"></a>
	<map name="statemap">
		<area shape="rect" coords="0,0,82,126" href="#/" alt="Sun">
		<area shape="circle" coords="90,58,3" href="#/" alt="Mercury">
		<area shape="circle" coords="124,58,8" href="#/" alt="Venus">
	</map>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
			&times;
		</button>
		Use the map to select a region and county.
	</div>
</div>