<div class="row">
	<div class="span6">
		<ul class="breadcrumb">
			<li>
				<a href="#state">State of Georgia</a><span class="divider">/</span>
			</li>
			<li>
				<a href="#" data-bind="text: RegionName, attr: { href: '#' + RegionID }"></a><span class="divider">/</span>
			</li>
			<li class="active" data-bind="text: Name"></li>
		</ul>
		<h1><i class="icon-map-marker"></i> <span data-bind="text: Name"></span></h1>
	</div>
</div>
<ul class="nav nav-pills" id="TabSet">
	<li class="active">
		<a href="#overview" data-toggle="tab" data-bind="click: $root.selectTab"><i class="icon-bar-chart"></i> Overview</a>
	</li>
	<li>
		<a href="#commodities" data-toggle="tab" data-bind="click: $root.selectTab"><i class="icon-tag"></i> Commodities <span class="badge badge-info" data-bind="text: TotalCommodities"></span></a>
	</li>
	<li>
		<a href="#companies" data-toggle="tab" data-bind="click: $root.selectTab"><i class="icon-building"></i> Companies <span class="badge badge-info" data-bind="text: TotalCompanies"></span></a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="overview" data-bind="template: {name: 'CountyOverview', data: $data}"></div>
	<div class="tab-pane fade" id="commodities" data-bind="template: {name: 'CommodityGridView', data: $root.commodities}"></div>
	<div class="tab-pane fade" id="companies" data-bind="template: {name: 'CompanyGridView', data: $root.companies}"></div>
</div>