<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>County</th>
			<th>Import TEU</th>
			<th>Import STONS</th>
			<th>Import Est. Value</th>
			<th>Export TEU</th>
			<th>Export STONS</th>
			<th>Export Est. Value</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: $data">
		<tr>
			<td data-bind="text: Name"></td>
			<td data-bind="text: ImportTEU"></td>
			<td data-bind="text: ImportSTONS"></td>
			<td data-bind="text: ImportEstValue"></td>
			<td data-bind="text: ExportTEU"></td>
			<td data-bind="text: ExportSTONS"></td>
			<td data-bind="text: ExportEstValue"></td>
		</tr>
	</tbody>
</table>