<div class="row">
	<div class="span5">
		<h4>Total&nbsp;Economic&nbsp;Impact of&nbsp;Georgia&rsquo;s&nbsp;Deepwater&nbsp;Ports on&nbsp;Georgia&rsquo;s&nbsp;Economy in&nbsp;FY&nbsp;2011</h4>
	</div>
</div>
<div class="row">
	<div class="span8">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Georgia's Deepwater Economic Impact</th>
					<th>State Impact</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$66.9 billion in sales</td>
					<td>9.5% of Georiga's total sales</td>
				</tr>
				<tr>
					<td>$32.4 billion in state GDP</td>
					<td>7.8% of Georgia's total GDP</td>
				</tr>
				<tr>
					<td>$18.5 billion in income</td>
					<td>5.2% of Georgia's total personal income</td>
				</tr>
				<tr>
					<td>352,146 full- and part-time jobs</td>
					<td>8.3% of Georgia's total employment</td>
				</tr>
				<tr>
					<td>$4.5 billion in federal taxes
					<br/>
					$14 billion in state taxes
					<br/>
					$11 billion in local taxes </td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>