<!-- SUBSECTION -->

<div class="subsection">
	<div class="container">
		<div class="row-fluid">
			<div class="span4 panel">
				<p>
					<strong>Common Footer</strong>
				</p>
				<p>
					Topics:
				</p>
				<ul>
					<li>
						Commercial Corridors (Kinda the same data as this tool)
					</li>
					<li>
						Port Deepening (SHEP)
					</li>
					<li>
						Jobs Creation
					</li>
				</ul>
			</div>
			<div class="span4 panel">
				Col 2
			</div>
			<div class="span4 panel">
				Col 3
			</div>
		</div>
	</div>
</div>

<!-- // END: SUBSECTION -->